# Комп'ютерний практикум ! (1) 

**Oleh Radchenko** _BC-81_

In [2]:
import pandas as pd

In [3]:
new_df = pd.DataFrame(
    {
"col1": ["BC-81", "81", 20, "Karabinskiy", "Hladkyi", "DataScience_1"],
"col2": ["BC-82", "82", 10, "Ivanov", "asd", "DataScience_2"],
"col3": ["BC-83", "83", 15, "Kiselev", "asd1", "DataScience_3"],
"col4": ["BC-84", "84", 30, "Petrov", "asd2", "DataScience_4"],
"col5": ["BC-85", "85", 35, "Popov", "yolo", "DataScience_5"],
"col6": ["BC-86", "86", 40, "Volnov", "asd3", "DataScience_6"],
    })

new_df

,col1,col2,col3,col4,col5,col6
0,BC-81,BC-82,BC-83,BC-84,BC-85,BC-86
1,81,82,83,84,85,86
2,20,10,15,30,35,40
3,Karabinskiy,Ivanov,Kiselev,Petrov,Popov,Volnov
4,Hladkyi,asd,asd1,asd2,yolo,asd3
5,DataScience_1,DataScience_2,DataScience_3,DataScience_4,DataScience_5,DataScience_6

2. **Import *.csv data**

In [4]:
path = "D:/kpi/4sem/bmd/lab1/data/justdoit_tweets_2018_09_07_2.csv"
data = pd.read_csv(path, encoding = "utf-8")

print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [5]:
import os 
print ("The directory we are working in is: {}".format(os.getcwd()))

The directory we are working in is: D:\kpi\4sem\bmd\lab1

In [6]:
path = "D:/kpi/4sem/bmd/lab1/data/justdoit_tweets_2018_09_07_2.csv"
data = pd.read_csv(path, encoding = "utf-8")

In [7]:
data

,tweet_contributors,tweet_coordinates,tweet_created_at,tweet_display_text_range,tweet_entities,tweet_extended_entities,tweet_favorite_count,tweet_favorited,tweet_full_text,tweet_geo,...,user_profile_text_color,user_profile_use_background_image,user_protected,user_screen_name,user_statuses_count,user_time_zone,user_translator_type,user_url,user_utc_offset,user_verified
0,NaN,NaN,Fri Sep 07 16:25:06 +0000 2018,"[0, 75]","{'hashtags': [{'text': 'quote', 'indices': [47...","{'media': [{'id': 1038100853872197632, 'id_str...",0,False,Done is better than perfect. — Sheryl Sandberg...,NaN,...,333333,True,False,UltraYOUwoman,91870.0,NaN,none,https://t.co/jGlJswxjwS,NaN,False
1,NaN,NaN,Fri Sep 07 16:24:59 +0000 2018,"[0, 237]","{'hashtags': [{'text': 'hero', 'indices': [90,...",NaN,0,False,Shout out to the Great Fire Department and the...,NaN,...,333333,True,False,yungcutup,618822.0,NaN,none,http://t.co/lVm8vfDbfO,NaN,False
2,NaN,NaN,Fri Sep 07 16:24:50 +0000 2018,"[0, 176]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...","{'media': [{'id': 1038100773396041728, 'id_str...",0,False,There are some AMAZINGLY hilarious Nike Ad mem...,NaN,...,050505,True,False,rachelbogle,48075.0,NaN,none,https://t.co/g9exqgZp9x,NaN,True
3,NaN,"{'type': 'Point', 'coordinates': [-86.45594032...",Fri Sep 07 16:24:44 +0000 2018,"[0, 88]","{'hashtags': [{'text': 'kapernickeffect', 'ind...",NaN,0,False,#kapernickeffect #swoosh #justdoit @ Lucas Bis...,"{'type': 'Point', 'coordinates': [35.85402047,...",...,333333,True,False,ErvGotti609,1983.0,NaN,none,NaN,NaN,False
4,NaN,NaN,Fri Sep 07 16:24:39 +0000 2018,"[0, 132]","{'hashtags': [{'text': 'shaquem', 'indices': [...","{'media': [{'id': 1038100736595255296, 'id_str...",0,False,"One Hand, One Dream: The Shaquem Griffin Story...",NaN,...,1A1E1A,True,False,NoLuckNeeded,24989.0,NaN,none,http://t.co/MMGF9RfLz0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5084,NaN,NaN,Fri Sep 07 00:18:24 +0000 2018,"[0, 32]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...",NaN,0,False,We have what we need. #JustDoIt https://t.co/...,NaN,...,6A4836,True,False,tracetime,65443.0,NaN,none,NaN,NaN,False
5085,NaN,NaN,Fri Sep 07 00:18:14 +0000 2018,"[0, 79]","{'hashtags': [{'text': 'MGK', 'indices': [31, ...","{'media': [{'id': 1037857533178855424, 'id_str...",0,False,Even the best can take an L!!\n\n#MGK #RapDevi...,NaN,...,333333,True,False,mgeezy1919,536.0,NaN,none,NaN,NaN,False
5086,NaN,NaN,Fri Sep 07 00:18:05 +0000 2018,"[0, 132]","{'hashtags': [{'text': 'MamaSaidKnockYouOut', ...",NaN,0,False,"Serena! All Serena, 9 of the last 10 games. If...",NaN,...,333333,True,False,Nartist,218740.0,NaN,none,NaN,NaN,False
5087,NaN,NaN,Fri Sep 07 00:17:49 +0000 2018,"[0, 62]","{'hashtags': [{'text': 'USOpen2018', 'indices'...",NaN,0,False,@serenawilliams #USOpen2018 Tearing it up your...,NaN,...,333333,True,False,bevmeghan,2542.0,NaN,none,NaN,NaN,False
5088,NaN,NaN,Fri Sep 07 00:17:13 +0000 2018,"[0, 78]","{'hashtags': [{'text': 'Justdoit', 'indices': ...",NaN,1,False,WOW the Nike #Justdoit add they played before ...,NaN,...,666666,True,False,RichieRaya,40436.0,NaN,none,https://t.co/Y1Zt6LMGiV,NaN,False

In [8]:
data.shape

(5089, 72)

In [9]:
data.head(5)

,tweet_contributors,tweet_coordinates,tweet_created_at,tweet_display_text_range,tweet_entities,tweet_extended_entities,tweet_favorite_count,tweet_favorited,tweet_full_text,tweet_geo,...,user_profile_text_color,user_profile_use_background_image,user_protected,user_screen_name,user_statuses_count,user_time_zone,user_translator_type,user_url,user_utc_offset,user_verified
0,NaN,NaN,Fri Sep 07 16:25:06 +0000 2018,"[0, 75]","{'hashtags': [{'text': 'quote', 'indices': [47...","{'media': [{'id': 1038100853872197632, 'id_str...",0,False,Done is better than perfect. — Sheryl Sandberg...,NaN,...,333333,True,False,UltraYOUwoman,91870.0,NaN,none,https://t.co/jGlJswxjwS,NaN,False
1,NaN,NaN,Fri Sep 07 16:24:59 +0000 2018,"[0, 237]","{'hashtags': [{'text': 'hero', 'indices': [90,...",NaN,0,False,Shout out to the Great Fire Department and the...,NaN,...,333333,True,False,yungcutup,618822.0,NaN,none,http://t.co/lVm8vfDbfO,NaN,False
2,NaN,NaN,Fri Sep 07 16:24:50 +0000 2018,"[0, 176]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...","{'media': [{'id': 1038100773396041728, 'id_str...",0,False,There are some AMAZINGLY hilarious Nike Ad mem...,NaN,...,050505,True,False,rachelbogle,48075.0,NaN,none,https://t.co/g9exqgZp9x,NaN,True
3,NaN,"{'type': 'Point', 'coordinates': [-86.45594032...",Fri Sep 07 16:24:44 +0000 2018,"[0, 88]","{'hashtags': [{'text': 'kapernickeffect', 'ind...",NaN,0,False,#kapernickeffect #swoosh #justdoit @ Lucas Bis...,"{'type': 'Point', 'coordinates': [35.85402047,...",...,333333,True,False,ErvGotti609,1983.0,NaN,none,NaN,NaN,False
4,NaN,NaN,Fri Sep 07 16:24:39 +0000 2018,"[0, 132]","{'hashtags': [{'text': 'shaquem', 'indices': [...","{'media': [{'id': 1038100736595255296, 'id_str...",0,False,"One Hand, One Dream: The Shaquem Griffin Story...",NaN,...,1A1E1A,True,False,NoLuckNeeded,24989.0,NaN,none,http://t.co/MMGF9RfLz0,NaN,False

In [10]:
data.tail(5)

,tweet_contributors,tweet_coordinates,tweet_created_at,tweet_display_text_range,tweet_entities,tweet_extended_entities,tweet_favorite_count,tweet_favorited,tweet_full_text,tweet_geo,...,user_profile_text_color,user_profile_use_background_image,user_protected,user_screen_name,user_statuses_count,user_time_zone,user_translator_type,user_url,user_utc_offset,user_verified
5084,NaN,NaN,Fri Sep 07 00:18:24 +0000 2018,"[0, 32]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...",NaN,0,False,We have what we need. #JustDoIt https://t.co/...,NaN,...,6A4836,True,False,tracetime,65443.0,NaN,none,NaN,NaN,False
5085,NaN,NaN,Fri Sep 07 00:18:14 +0000 2018,"[0, 79]","{'hashtags': [{'text': 'MGK', 'indices': [31, ...","{'media': [{'id': 1037857533178855424, 'id_str...",0,False,Even the best can take an L!!\n\n#MGK #RapDevi...,NaN,...,333333,True,False,mgeezy1919,536.0,NaN,none,NaN,NaN,False
5086,NaN,NaN,Fri Sep 07 00:18:05 +0000 2018,"[0, 132]","{'hashtags': [{'text': 'MamaSaidKnockYouOut', ...",NaN,0,False,"Serena! All Serena, 9 of the last 10 games. If...",NaN,...,333333,True,False,Nartist,218740.0,NaN,none,NaN,NaN,False
5087,NaN,NaN,Fri Sep 07 00:17:49 +0000 2018,"[0, 62]","{'hashtags': [{'text': 'USOpen2018', 'indices'...",NaN,0,False,@serenawilliams #USOpen2018 Tearing it up your...,NaN,...,333333,True,False,bevmeghan,2542.0,NaN,none,NaN,NaN,False
5088,NaN,NaN,Fri Sep 07 00:17:13 +0000 2018,"[0, 78]","{'hashtags': [{'text': 'Justdoit', 'indices': ...",NaN,1,False,WOW the Nike #Justdoit add they played before ...,NaN,...,666666,True,False,RichieRaya,40436.0,NaN,none,https://t.co/Y1Zt6LMGiV,NaN,False

In [11]:
data.describe()

,tweet_contributors,tweet_favorite_count,tweet_id,tweet_id_str,tweet_in_reply_to_status_id,tweet_in_reply_to_status_id_str,tweet_in_reply_to_user_id,tweet_in_reply_to_user_id_str,tweet_quoted_status_id,tweet_quoted_status_id_str,tweet_retweet_count,user_favourites_count,user_followers_count,user_friends_count,user_id,user_id_str,user_listed_count,user_statuses_count,user_time_zone,user_utc_offset
count,0.0,5089.000000,5.089000e+03,5.089000e+03,9.420000e+02,9.420000e+02,1.247000e+03,1.247000e+03,7.050000e+02,7.050000e+02,5089.000000,5088.000000,5.088000e+03,5088.000000,5.088000e+03,5.088000e+03,5088.000000,5088.000000,0.0,0.0
mean,NaN,4.469444,1.037973e+18,1.037973e+18,1.037801e+18,1.037801e+18,9.370559e+16,9.370559e+16,1.036881e+18,1.036881e+18,1.231480,10508.907036,3.325234e+03,1723.430228,1.760886e+17,1.760886e+17,41.894261,18705.136399,NaN,NaN
std,NaN,76.144906,8.067564e+13,8.067564e+13,8.287548e+14,8.287548e+14,2.743085e+17,2.743085e+17,1.245104e+16,1.245104e+16,15.601812,26031.937457,4.480203e+04,5710.914074,3.561922e+17,3.561922e+17,222.459958,44584.120378,NaN,NaN
min,NaN,0.000000,1.037857e+18,1.037857e+18,1.015258e+18,1.015258e+18,3.840000e+03,3.840000e+03,7.398016e+17,7.398016e+17,0.000000,0.000000,0.000000e+00,0.000000,6.657000e+03,6.657000e+03,0.000000,1.000000,NaN,NaN
25%,NaN,0.000000,1.037897e+18,1.037897e+18,1.037780e+18,1.037780e+18,2.507388e+07,2.507388e+07,1.037388e+18,1.037388e+18,0.000000,307.000000,1.090000e+02,202.000000,1.033425e+08,1.033425e+08,1.000000,1099.500000,NaN,NaN
50%,NaN,0.000000,1.037961e+18,1.037961e+18,1.037927e+18,1.037927e+18,4.505570e+07,4.505570e+07,1.037701e+18,1.037701e+18,0.000000,1741.000000,3.615000e+02,532.000000,4.751418e+08,4.751418e+08,6.000000,4650.500000,NaN,NaN
75%,NaN,1.000000,1.038052e+18,1.038052e+18,1.038018e+18,1.038018e+18,4.158594e+08,4.158594e+08,1.037903e+18,1.037903e+18,0.000000,8128.250000,1.259500e+03,1376.000000,3.188214e+09,3.188214e+09,23.000000,15796.000000,NaN,NaN
max,NaN,4887.000000,1.038101e+18,1.038101e+18,1.038098e+18,1.038098e+18,1.037716e+18,1.037716e+18,1.038093e+18,1.038093e+18,748.000000,337135.000000,2.896006e+06,129726.000000,1.038095e+18,1.038095e+18,11734.000000,768609.000000,NaN,NaN

In [12]:
data['tweet_id'].describe()

count    5.089000e+03
mean     1.037973e+18
std      8.067564e+13
min      1.037857e+18
25%      1.037897e+18
50%      1.037961e+18
75%      1.038052e+18
max      1.038101e+18
Name: tweet_id, dtype: float64

In [13]:
data['tweet_created_at'].describe()

count                               5089
unique                              4730
top       Fri Sep 07 02:56:01 +0000 2018
freq                                   6
Name: tweet_created_at, dtype: object

In [14]:
cut_data = data.iloc[0:10, :]

cut_data

,tweet_contributors,tweet_coordinates,tweet_created_at,tweet_display_text_range,tweet_entities,tweet_extended_entities,tweet_favorite_count,tweet_favorited,tweet_full_text,tweet_geo,...,user_profile_text_color,user_profile_use_background_image,user_protected,user_screen_name,user_statuses_count,user_time_zone,user_translator_type,user_url,user_utc_offset,user_verified
0,NaN,NaN,Fri Sep 07 16:25:06 +0000 2018,"[0, 75]","{'hashtags': [{'text': 'quote', 'indices': [47...","{'media': [{'id': 1038100853872197632, 'id_str...",0,False,Done is better than perfect. — Sheryl Sandberg...,NaN,...,333333,True,False,UltraYOUwoman,91870.0,NaN,none,https://t.co/jGlJswxjwS,NaN,False
1,NaN,NaN,Fri Sep 07 16:24:59 +0000 2018,"[0, 237]","{'hashtags': [{'text': 'hero', 'indices': [90,...",NaN,0,False,Shout out to the Great Fire Department and the...,NaN,...,333333,True,False,yungcutup,618822.0,NaN,none,http://t.co/lVm8vfDbfO,NaN,False
2,NaN,NaN,Fri Sep 07 16:24:50 +0000 2018,"[0, 176]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...","{'media': [{'id': 1038100773396041728, 'id_str...",0,False,There are some AMAZINGLY hilarious Nike Ad mem...,NaN,...,050505,True,False,rachelbogle,48075.0,NaN,none,https://t.co/g9exqgZp9x,NaN,True
3,NaN,"{'type': 'Point', 'coordinates': [-86.45594032...",Fri Sep 07 16:24:44 +0000 2018,"[0, 88]","{'hashtags': [{'text': 'kapernickeffect', 'ind...",NaN,0,False,#kapernickeffect #swoosh #justdoit @ Lucas Bis...,"{'type': 'Point', 'coordinates': [35.85402047,...",...,333333,True,False,ErvGotti609,1983.0,NaN,none,NaN,NaN,False
4,NaN,NaN,Fri Sep 07 16:24:39 +0000 2018,"[0, 132]","{'hashtags': [{'text': 'shaquem', 'indices': [...","{'media': [{'id': 1038100736595255296, 'id_str...",0,False,"One Hand, One Dream: The Shaquem Griffin Story...",NaN,...,1A1E1A,True,False,NoLuckNeeded,24989.0,NaN,none,http://t.co/MMGF9RfLz0,NaN,False
5,NaN,NaN,Fri Sep 07 16:24:35 +0000 2018,"[17, 96]","{'hashtags': [{'text': 'JUSTDOIT', 'indices': ...",NaN,0,False,@realDonaldTrump It's time for me to stock up ...,NaN,...,333333,True,False,tazman69,2213.0,NaN,none,NaN,NaN,False
6,NaN,NaN,Fri Sep 07 16:24:24 +0000 2018,"[0, 89]","{'hashtags': [{'text': 'RegisterToVote', 'indi...",NaN,0,False,Why won't Trump protect our elections? Think ...,NaN,...,333333,True,False,MJJJusticePrjct,179968.0,NaN,regular,http://t.co/O9K5mjy0wZ,NaN,False
7,NaN,NaN,Fri Sep 07 16:24:13 +0000 2018,"[0, 138]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...",NaN,0,False,"@Nike good job on shaking the whole world, i s...",NaN,...,333333,True,False,jaure302,2167.0,NaN,none,NaN,NaN,False
8,NaN,NaN,Fri Sep 07 16:24:09 +0000 2018,"[0, 143]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...","{'media': [{'id': 1038099973278244864, 'id_str...",0,False,GREAT way to meet good people...wearing your N...,NaN,...,3E4415,True,False,elizmopi,12964.0,NaN,none,NaN,NaN,False
9,NaN,NaN,Fri Sep 07 16:23:51 +0000 2018,"[0, 122]","{'hashtags': [{'text': 'FX', 'indices': [48, 5...","{'media': [{'id': 1038100525554827266, 'id_str...",0,False,"Lead,Trade and Succeed with ICM\nPlease retwee...",NaN,...,000000,False,False,icmnigeria,16.0,NaN,none,https://t.co/DkClEgUT7Y,NaN,False

In [15]:
new_data = ["gr1", "gr1", "gr1", "gr1", "gr2", "gr2", "gr2", "gr2", "gr2", "gr2"]
cut_data.insert(1, "Group", new_data)
cut_data

,tweet_contributors,Group,tweet_coordinates,tweet_created_at,tweet_display_text_range,tweet_entities,tweet_extended_entities,tweet_favorite_count,tweet_favorited,tweet_full_text,...,user_profile_text_color,user_profile_use_background_image,user_protected,user_screen_name,user_statuses_count,user_time_zone,user_translator_type,user_url,user_utc_offset,user_verified
0,NaN,gr1,NaN,Fri Sep 07 16:25:06 +0000 2018,"[0, 75]","{'hashtags': [{'text': 'quote', 'indices': [47...","{'media': [{'id': 1038100853872197632, 'id_str...",0,False,Done is better than perfect. — Sheryl Sandberg...,...,333333,True,False,UltraYOUwoman,91870.0,NaN,none,https://t.co/jGlJswxjwS,NaN,False
1,NaN,gr1,NaN,Fri Sep 07 16:24:59 +0000 2018,"[0, 237]","{'hashtags': [{'text': 'hero', 'indices': [90,...",NaN,0,False,Shout out to the Great Fire Department and the...,...,333333,True,False,yungcutup,618822.0,NaN,none,http://t.co/lVm8vfDbfO,NaN,False
2,NaN,gr1,NaN,Fri Sep 07 16:24:50 +0000 2018,"[0, 176]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...","{'media': [{'id': 1038100773396041728, 'id_str...",0,False,There are some AMAZINGLY hilarious Nike Ad mem...,...,050505,True,False,rachelbogle,48075.0,NaN,none,https://t.co/g9exqgZp9x,NaN,True
3,NaN,gr1,"{'type': 'Point', 'coordinates': [-86.45594032...",Fri Sep 07 16:24:44 +0000 2018,"[0, 88]","{'hashtags': [{'text': 'kapernickeffect', 'ind...",NaN,0,False,#kapernickeffect #swoosh #justdoit @ Lucas Bis...,...,333333,True,False,ErvGotti609,1983.0,NaN,none,NaN,NaN,False
4,NaN,gr2,NaN,Fri Sep 07 16:24:39 +0000 2018,"[0, 132]","{'hashtags': [{'text': 'shaquem', 'indices': [...","{'media': [{'id': 1038100736595255296, 'id_str...",0,False,"One Hand, One Dream: The Shaquem Griffin Story...",...,1A1E1A,True,False,NoLuckNeeded,24989.0,NaN,none,http://t.co/MMGF9RfLz0,NaN,False
5,NaN,gr2,NaN,Fri Sep 07 16:24:35 +0000 2018,"[17, 96]","{'hashtags': [{'text': 'JUSTDOIT', 'indices': ...",NaN,0,False,@realDonaldTrump It's time for me to stock up ...,...,333333,True,False,tazman69,2213.0,NaN,none,NaN,NaN,False
6,NaN,gr2,NaN,Fri Sep 07 16:24:24 +0000 2018,"[0, 89]","{'hashtags': [{'text': 'RegisterToVote', 'indi...",NaN,0,False,Why won't Trump protect our elections? Think ...,...,333333,True,False,MJJJusticePrjct,179968.0,NaN,regular,http://t.co/O9K5mjy0wZ,NaN,False
7,NaN,gr2,NaN,Fri Sep 07 16:24:13 +0000 2018,"[0, 138]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...",NaN,0,False,"@Nike good job on shaking the whole world, i s...",...,333333,True,False,jaure302,2167.0,NaN,none,NaN,NaN,False
8,NaN,gr2,NaN,Fri Sep 07 16:24:09 +0000 2018,"[0, 143]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...","{'media': [{'id': 1038099973278244864, 'id_str...",0,False,GREAT way to meet good people...wearing your N...,...,3E4415,True,False,elizmopi,12964.0,NaN,none,NaN,NaN,False
9,NaN,gr2,NaN,Fri Sep 07 16:23:51 +0000 2018,"[0, 122]","{'hashtags': [{'text': 'FX', 'indices': [48, 5...","{'media': [{'id': 1038100525554827266, 'id_str...",0,False,"Lead,Trade and Succeed with ICM\nPlease retwee...",...,000000,False,False,icmnigeria,16.0,NaN,none,https://t.co/DkClEgUT7Y,NaN,False

2. Using GroupBy()

In [16]:
cut_data.groupby('Group').describe()

      tweet_contributors                              tweet_favorite_count  \
                   count mean std min 25% 50% 75% max                count
Group
gr1                  0.0  NaN NaN NaN NaN NaN NaN NaN                  4.0
gr2                  0.0  NaN NaN NaN NaN NaN NaN NaN                  6.0

            ... user_time_zone     user_utc_offset                           \
      mean  ...            75% max           count mean std min 25% 50% 75%
Group       ...
gr1    0.0  ...            NaN NaN             0.0  NaN NaN NaN NaN NaN NaN
gr2    0.0  ...            NaN NaN             0.0  NaN NaN NaN NaN NaN NaN


      max
Group
gr1   NaN
gr2   NaN

[2 rows x 160 columns]

In [17]:
cut_data.to_csv("D:/kpi/4sem/bmd/lab1/cutDataOutput.csv", encoding='utf-8')

In [18]:
data.to_csv('D:/kpi/4sem/bmd/lab1/newDataOutput.csv', encoding='utf-8')

In [19]:
data.dtypes()

TypeError: 'Series' object is not callable